<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
    <h1 class="text-center ">This page is under construction</h1>
    <img class = "center " src="https://media.istockphoto.com/vectors/city-construction-work-process-with-machines-vector-id1226643716?b=1&k=20&m=1226643716&s=612x612&w=0&h=8fFYWiiA03vrRMmoa2wtS1LAc3QBHW_hcqQ4b5TOSY8=" >
    {{>footer}}
    
</body>
</html>