<!DOCTYPE html>
<html lang="en">
    <head>
        {{>header}}
    </head>
    
<body>
    {{>navbar}}
     <div class="container-fluid main_header">
     <div class="row">
         <div class="col-md-10 col-12 mx-auto">
             <div class="row align-middle">
                 <!--LEFT BODY-->
                 <div class="col-md-6 col-12 main_header_left left_home">
                     <img class="img img-fluid img-responsive impad rounded-circle " src="https://avatars.githubusercontent.com/u/61721761?v=4" class=" w-100" alt="Wild Landscape"/>
                          
                 </div>
                   <!--RIGHT BODY-->
                 <div class="col-md-6 col-12 main_header_right rounded right_home">
                      <h3>Welcome to secret page</h3>
                     <h1>I am a  <span class = "text-primary">MERN </span>stack developer and<span class = "text-primary"> Machine Learning</span> Enthusiat</h1>
                     <br>
                     <h2>Click on to get my secret profile </h2>
                     <br>
                     <a href="https://www.linkedin.com/in/saurabh-soni-48a567166/"><button class = "rounded-pill bg-success text-white btn">  My Profile  </button></a>
                 </div>
             </div>
         </div>
     </div>
 </div>
    {{>footer}}
</body>
</html>